<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Портфолио{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    {% block css %}
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/simple-sidebar.css" rel="stylesheet">
    {% endblock %}
    
    {% block js %}
        <script type="text/javascript" src="/vendor/ckeditor/ckeditor.js"></script>
    {% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <div class="title_sidebar">
            <h4>Вы вошли как: <a href="/admin">{{user}}</a></h4>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/logout">Выйти</a>
                </li>
                <li>
                    <a href="/admin">Главная</a>
                </li>
                <li>
                    <a href="/admin?portfolio">Портфолио</a>
                </li>
                <li>
                    <a href="/admin?posts">Новости</a>
                </li>
                <li>
                    <a href="/admin?page">Страницы</a>
                </li>
                <li>
                    <a href="/admin?manager_user">Пользователи</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        var ckeditor1 = CKEDITOR.replace( 'editor1' );
        AjexFileManager.init({
                returnTo: 'ckeditor',
                editor: ckeditor1
        });
    </script>
    <!-- Menu Toggle Script -->

</body>

</html>